html {
  background-color: var(--grey-title-color);
}

:root {
  --grey-title-color: #171717;
  --gold-title-color: #e4b564;
  --red-title-color: red;
  --grid-item-color-1: #634f2c;
  --grid-item-color-2: #b4a385;
  --grid-item-color-3: #e4b564;
  --grid-item-color-4: #635a4a;
  --grid-item-color-5: #b08c4d;
  --grid-item-color-6: #0e0e0e;
  --grid-item-color-7: #1f1f1f;
  --grid-item-color-8: #242424;
  --grid-item-color-9: #e4b564;
  --grid-item-color-10: #1f1f1f;
  --grid-item-color-11: #0e0e0e;
  --grid-item-color-12: #0a0909;
}

.container {
  width: 1120px;
  background-color: var(--grey-title-color);
}

.container-2 {
  width: 1120px;
}

.container-3 {
  width: 100%;
  height: 100vh;
  background-color: black;
}

.top-navbar {
  background-color: var(--grey-title-color);
  height: 200px;
  display: flex;
  align-items: center;
}

.recall-btn {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  border: 1px solid var(--gold-title-color);
  background-color: var(--grey-title-color);
  color: var(--gold-title-color);
}

.recall-icon {
  margin: 0;
}

.projects-btn {
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 50px;
  border: 1px solid var(--gold-title-color);
  background-color: var(--grid-item-color-12);
  color: var(--gold-title-color);
}

.heading-section-1 {
  display: flex;
  flex-direction: column;
  width: 1120px;
  justify-items: flex-start;
}

.heading-h1 {
  margin: 20px auto;
  display: flex;
  width: 1120px;
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.heading-p {
  margin: 20px auto;
  display: flex;
  width: 1120px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.grid-wrapper-1 {
  margin-top: 20px;
  display: grid;
  text-align: center;
  place-items: center;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  height: 800px;
  grid-gap: 30px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.grid-item-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  grid-column: 1/3;
  grid-row: 1;
  background-color: var(--grid-item-color-1);
}

.grid-item-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  grid-column: 3/5;
  grid-row: 1;
  background-color: var(--grid-item-color-2);
}
.grid-item-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  grid-column: 5/7;
  grid-row: 1;
  background-color: var(--grid-item-color-3);
}

.grid-item-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  grid-column: 1 / span 3;
  grid-row: 2;
  background-color: var(--grid-item-color-4);
}

.grid-item-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  grid-column: 4 / span 3;
  grid-row: 2;
  background-color: var(--grid-item-color-5);
}

.heading-section-2 {
  font-size: 25px;
  color: white;
  margin: 80px auto;
}

.grid-wrapper-2 {
  display: grid;
  text-align: center;
  place-items: center;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  height: 800px;
  grid-gap: 30px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.bold-span {
  display: flex;
  height: 25px;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

[class^="grid-item-"] p {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.grid-item-6 {
  height: 100%;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  background-color: var(--grid-item-color-6);
}

.grid-item-7 {
  height: 100%;
  width: 100%;
  grid-column: 1 / span 2;
  grid-row: 3 / span 4;
  background-color: #1f1f1f;
}

.grid-item-8 {
  height: 100%;
  width: 100%;
  grid-column: 3 / span 2;
  grid-row: 1 / span 3;
  background-color: var(--grid-item-color-8);
}

.grid-item-9 {
  height: 100%;
  width: 100%;
  grid-column: 3 / span 2;
  grid-row: 4 / span 3;
  background-color: var(--grid-item-color-9);
  color: #000;
}

.grid-item-10 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 1 / span 2;
  background-color: var(--grid-item-color-10);
}

.grid-item-11 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 3 / span 2;
  background-color: var(--grid-item-color-11);
}

.grid-item-12 {
  height: 100%;
  width: 100%;
  grid-column: 5 / span 2;
  grid-row: 5 / span 2;
  background-color: var(--grid-item-color-12);
}

.logo-section {
  margin: 0 auto;
  width: 1120px;
}

.heading-section-3 {
  display: flex;
  width: 1120px;
  padding-top: 100px;
  padding-bottom: 40px;
  align-items: center;
}

.item-section {
  width: 1120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  justify-content: center;
}

[class^="logo-item-"] {
  display: flex;
  margin: 0;
  width: 370px;
  height: 300px;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-item-1 {
  background-color: var(--grid-item-color-1);
}

.logo-item-2 {
  flex-direction: column;
  background-color: var(--grid-item-color-2);
  color: white;
}

.logo-item-2 img {
  margin-top: 20px;
}

.logo-item-2 p {
  padding: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  flex-direction: column;
}

.logo-item-3 {
  background-color: var(--grid-item-color-3);
}

.logo-item-4 {
  background-color: var(--grid-item-color-4);
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 20px;
}

.logo-item-5 {
  background-color: var(--grid-item-color-5);
}

.logo-item-6 {
  background-color: var(--grid-item-color-1);
}
